label,
input {
    display: block;
}

.container {
    display: flex;
    width: 100%;
}

.palette {
    flex: 1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #444;
    cursor: pointer;
}

.test__item {
    width: 45px;
    height: 45px;
}

.slider-palette {
    flex: 1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #444;
    cursor: pointer;
}