/**
*
* THEME SPECIFIC COMPONENTS
*
*/

.palette {
    flex: 1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.test__item {
    height: 14rem;
}

.slider-palette {
    flex: 1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #444;
    cursor: pointer;
}